// // @import "./reset.styl"
// // @import "./base.styl"
// // @import "./icon.styl"
// $AnimateHook= "animated"
// $AnimateDuration= 0.8s


// .#{$AnimateHook} {
//   -webkit-animation-duration: $AnimateDuration;
//   animation-duration: $AnimateDuration;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;

//   // Modifier for infinite repetition
//   &.infinite {
//     -webkit-animation-iteration-count: infinite;
//     animation-iteration-count: infinite;
//   }

// }

// // Slide
// @-webkit-keyframes slideInLeft {
//   from {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//     visibility: visible;
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

// }

// @keyframes slideInLeft {
//   from {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//     visibility: visible;
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

// }

// .slideInLeft {
//   -webkit-animation-name: slideInLeft;
//   animation-name: slideInLeft;
// }

// @-webkit-keyframes slideInRight {
//   from {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//     visibility: visible;
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

// }

// @keyframes slideInRight {
//   from {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//     visibility: visible;
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

// }

// .slideInRight {
//   -webkit-animation-name: slideInRight;
//   animation-name: slideInRight;
// }

// @-webkit-keyframes slideOutLeft {
//   from {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

//   to {
//     visibility: hidden;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

// }

// @keyframes slideOutLeft {
//   from {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

//   to {
//     visibility: hidden;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

// }

// .slideOutLeft {
//   -webkit-animation-name: slideOutLeft;
//   animation-name: slideOutLeft;
// }

// @-webkit-keyframes slideOutRight {
//   from {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

//   to {
//     visibility: hidden;
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }

// }

// @keyframes slideOutRight {
//   from {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

//   to {
//     visibility: hidden;
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//   }

// }

// .slideOutRight {
//   -webkit-animation-name: slideOutRight;
//   animation-name: slideOutRight;
// }

// @-webkit-keyframes inRight {
//   0% {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0)
//   }

//   to {
//     -webkit-transform: translateZ(0);
//     transform: translateZ(0)
//   }

// }

// @keyframes inRight {
//   0% {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0)
//   }

//   to {
//     -webkit-transform: translateZ(0);
//     transform: translateZ(0)
//   }

// }

// @-webkit-keyframes outLeft {
//   0% {
//     -webkit-transform: translateZ(0);
//     transform: translateZ(0)
//   }

//   to {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0)
//   }

// }

// @keyframes outLeft {
//   0% {
//     -webkit-transform: translateZ(0);
//     transform: translateZ(0)
//   }

//   to {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0)
//   }

// }


// .fade-enter-active,
// .fade-leave-active {
//   transition: all .2s ease;
// }

// .fade-enter,
// .fade-leave-active {
//   opacity: 0;
// }

// .view-in-enter-active,
// .view-out-leave-active {
//   position: absolute;
//   top: 0;
//   width: 100%;
//   padding-top: px2rem($titbarHeight);
//   -webkit-animation-duration: .3s;
//   animation-duration: .3s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

// .view-in-enter-active {
//   -webkit-animation-name: inRight;
//   animation-name: inRight;
// }

// .view-out-leave-active {
//   -webkit-animation-name: outLeft;
//   animation-name: outLeft;
// }